<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/style.js"></script>
    <script src="js/moment.min.js"></script>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <style scoped>  .tab-box {
        margin:0 auto;
      }
      .tab{
        display:inline-block;
        text-align:center;
        padding:10px 35px;
        border-bottom: 1px solid #e2e2e2;
        cursor:pointer;
      }
      .tab.on{
        color:#d55050;
        border-bottom: 3px solid #d55050;
      }
      .tab span{
        display:block;
        font-size:16px;
        line-height:24px;
      }
    </style>
</head>
<div id="app">
    <div class="header">
        <img src="images/logo.png" alt="">
        <div class="header-right">
            <div class="countDown">
                <p class="countDown-second">120秒</p>
                <p class="countDown-remark">自动退出</p>
            </div>
            <img src="images/clock.png" />
            <div class="header-timer">
                <h1>
                     {{dt | time-glq}}
                </h1>
                <h6>
                     {{dt | date-glq}}
                </h6>
            </div>
            <div class="login-out divSet">
                <i class="iconfont login-out-icon">&#xe61e;</i>
                <p>退出登录</p>
            </div>
        </div>

    </div>
    <div class="content login">
        <div class="content-regist">
            <i class="iconfont hospital">&#xe6e1;</i>
            <span>当日挂号</span>
        </div>
        <div class="login-content">
            <div class="page">
                <div class="page-div divSet" @click="prevPage">
                    <i class="iconfont page-icon">&#xe78f;</i>
                </div>
                <div class="page-div divSet" @click="nextPage">
                    <i class="iconfont page-icon">&#xe791;</i>
                </div>
            </div>
     
            <p class="register-title"><span class="remind">【牙体病科】</span>请选择挂号医生</p>
            <div class="tab-box g-w f-tac" style="margin-top:0.1rem">
                    <div v-bind:class="{ 'tab': true, 'on': curIndex==index }" v-for="(date,index) in dateList" @click="toggle(index)" :key="index">
                      <span>{{date.name}}</span>
                      <span>{{date.date}}</span>
                    </div>
                  </div>
            <div class="doctor-content" v-for="(item,index) in items" v-if="page==index">

                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠{{item}}</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>
                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>
                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>

                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>
                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>
                    <div class="doctor-content-div divSet" @click="selectTimeF">
                        <img src="images/photo.jpeg" class="doctor-photo"/>
                        <div class="doctor-remark">
                            <p class="doctor-name">董明珠</p>
                            <p class="occupation-name">职称：副主任医生</p>
                            <p class="remain-num">剩余号源：<span class="remind">5</span></p>
                        </div>
                    </div>

                  
            </div>
        </div>
        <div class="login-footer">
            <div class="login-footer-btn divSet" @click="goToLogin">返回首页</div>
            <div class="login-footer-btn divSet footer-next-btn" @click="goPrev">上一步</div>
        </div>
    </div>
    <div class="mask" v-if="selectTime">
        <div class="time-div">
            <div class="close" @click="closeMask">
                <i class="iconfont close-icon" >&#xe70c;</i>
            </div>
            <div class="doctor-content-div">
                <img src="images/photo.jpeg" class="doctor-photo"/>
                <div class="doctor-remark">
                    <p class="doctor-name">董明珠</p>
                    <p class="occupation-name">职称：副主任医生</p>
                    <p class="dapartment-name">科室：牙科病体</p>
                </div>
            </div>
            <div class="timer-classification">
                <div class="timer-classification-div divSet" @click="goToNext">
                    <p class="time-remark">
                        上午<span>(09:00-12:00)</span>
                    </p>
                    <p class="remain-num">
                        剩余号源：5
                    </p>
                </div>
                <div class="timer-classification-div divSet" @click="goToNext">
                    <p class="time-remark">
                        中班<span>(12:30-14:00)</span>
                    </p>
                    <p class="remain-num">
                        剩余号源：5
                    </p>
                </div>
                <div class="timer-classification-div divSet" @click="goToNext">
                    <p class="time-remark">
                        下午<span>(14:20-17:30)</span>
                    </p>
                    <p class="remain-num">
                        剩余号源：5
                    </p>
                </div>
                <div class="timer-classification-div divSet" @click="goToNext">
                    <p class="time-remark">
                        夜诊<span>(18:30-21:00)</span>
                    </p>
                    <p class="remain-num">
                        剩余号源：5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  function format(n) {
    switch (n) {
      case '0':
        return '日';
      case '1':
        return '一';
      case '2':
        return '二';
      case '3':
        return '三';
      case '4':
        return '四';
      case '5':
        return '五';
      case '6':
        return '六';
      default:
        return;
    }
  }
  Vue.filter('date-glq',function(datestr){
				
				var dt=new Date(datestr)
				var y=dt.getFullYear()
				var m=(dt.getMonth()+1).toString().padStart(2,'0')
				var d=dt.getDate().toString().padStart(2,'0')
				return 	`${y}-${m}-${d}`
			})
	Vue.filter('time-glq',function(datestr){
				
				var dt=new Date(datestr)
				var hh=dt.getHours().toString().padStart(2,'0')
				var mm=dt.getMinutes()
				
				return 	`${hh}:${mm}`
			})
    new Vue({
        el:"#app",
        data:{
        	dt:new Date(),
            page:0,
            index:0,
            items:[1,2,3,4],
            selectTime:false,
            dateList: [],
        curIndex: this.curDateIndex,
        },
        watch: {
      curDateIndex(val) {
        this.curIndex = val;
      },
    },
    mounted() {
      for (let i = 0; i < 7; i++) {
        this.dateList.push({
          name: format(moment().add(i, 'days').format('d')),
          date: moment().add(i, 'days').format('M') + '月' + moment().add(i, 'days').date() + '日',
        });
      }
    },
        methods:{
            goPrev:function(){
                location.href="department.html"
            },
            goToNext:function(){
                location.href="comfirm.html"
            },
            goToLogin:function(){
                location.href="index.html"
            },
            prevPage:function () {
                if(this.page>0){
                    this.page--;
                }
            },
            selectTimeF:function(){
                this.selectTime = true;
            },
            nextPage:function(){
                if(this.page<this.items.length-1){
                    this.page++;
                }
            },
            closeMask:function(){
                this.selectTime = false;
            },
            toggle(index) {
        this.curIndex = index;
        this.$emit('listenToChildEvent', index);
      },
        }
    })
</script>
</body>
</html>