body{
    font-family: 'Microsoft YaHei', sans-serif;
}
.mai-icon{
    background: rgb(64, 210, 177);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}
/*导航*/
.navbar-default{
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.25);
}
.navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #40D2B1;
    height: 70px;
    line-height: 35px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    height: 70px;
    line-height: 35px;
}
.navbar-toggle{
    margin-top: 17px;
}
.navbar-default .navbar-toggle:hover {
    border-color: #40D2B1;
    background-color: rgb(69, 210, 184);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1C9982;
}
#active
{
	background-color: gray;
	color: #FFFFFF;
}
/*home*/
#home{
    margin-top: 70px;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
.juzhong {
    width: 100%;
    height: 100%;

    padding: 90px 0;
}
#home h1{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}
#home p{
    font-weight: 400;
    line-height: 35px;
}
#home img{
    margin-top: 30px;
    display: inline-block;
}
/*介绍*/
#introduce{
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}

#info{
	margin-top: 10px;
	box-sizing: border-box;
}
.slideBox .js a{
	text-decoration: none;
}
.slideBox .js{
	width:100%;
	position:relative;
	height:468px;
	overflow:hidden;
	}
.slideBox .js ul{
	list-style: none;
}
.slideBox .js li{
	text-align:center;
	}
.slideBox .js img{
	width:1600px;
	height:468px;
	}
.slideBox .js li.active{
	animation-name:ai-big-out;
	animation-duration:.3s;
	animation-timing-function:ease;
	animation-fill-mode:forwards;
	}
@keyframes ai-big-out{0%{z-index:3;transform:scale(1.1);opacity:1}
50%{transform:scale(1.2);opacity:.5}
to{transform:scale(1.3);opacity:1}
}
/*server*/
#server{
    padding: 80px 0;
    text-align: center;
}
#serrver .col-md-4{
    padding: 15px;
}
#server .col-md-4:hover{
    background: #f1f1f1;
    box-shadow: 1px 1px 4px #ccc;
}

#server a{
    color: #212121;
    text-decoration: none;
}
#server img{
    margin: 0 auto;
}
#server h1{
	margin-bottom: 50px;
}
#server .block_hover .btn{
	display: block;
	background-color: #676AFE;
	margin: 0 auto;
	border-radius: 5%;
}
#server .block_unhover .btn{
	display: none;
}
#server .block_hover p{
	display:none;
}

#server .block_hover h3{
		color: #676AFE;
		font-weight: bold;
}

#server .block_unhover h3{
	   color: #333333;
	font-weight: bold;
}


/*course*/
#course{
    background: #f8f8f8;
    padding: 80px 0;
    text-align: center;
}
#course h2{
    font-weight: bold;
    padding-bottom: 60px;
}
#course .col-md-3{
    margin-bottom: 20px;
}
.course {
    background: #ffffff;
}
#course .btn{
    background: transparent;
    border: 1px solid #40D2B1;
    border-radius: 0px;
    color: #40D2B1;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 40px;
    transition: all 0.3s;
}
#course .btn:hover{
    background: #40D2B1;
    color: #fff;
}



/*contact*/
#contact{
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
}
#contact h2{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}
#contact p{
    line-height: 25px;
    margin-bottom: 20px;
}
#contact .form-control {
    border: none;
    border-radius: 0;
    height: 50px;
    margin-bottom: 20px;
}
#contact textarea.form-control{
    height: auto;
}
#contact input[type="submit"]{
    background: #40D2B1;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
}
#contact input[type="submit"]:hover{
    background: rgb(44, 142, 120);
}

/*footer*/
footer{
    font-weight: 400;
    text-align: center;
    padding:20px ;
}